@model IEnumerable<DataModels.Article>
@using  Library.BusinessLogic


@{
    ViewData["Title"] = "Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listing</h1>

<p>
    <a asp-action="Create">Create New Article</a>
</p>

@{
    if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            <!--@Html.DisplayFor(modelItem => item.Title)-->
                            @Html.ActionLink(item.Title, "ViewArticle", "Article", new { Id = item.Id })
                        </td>
                        <td>
                            @{
                                string shortenedBody = ArticleHelper.ShortenBodyText(item.Body, ArticleHandlerOLD.BODY_LENGTH_IN_PREVIEW, true);
                            }
                            @Html.DisplayFor(modelItem => shortenedBody)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", item, new { Id = item.Id }) |
                            @Html.ActionLink("View", "ViewArticle", new { Id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", item, new { Id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>This is where a listing will go!</p>
    }
}
